.logo {
  width:100px;
  heigth:100px;
  
}

nav { 
border: 3px solid brown;
border-radius: 10px;
padding:25px ;
margin:25px ;
background-color:green ;
text-align: center;
} 

h1 { 
font-size:40px;
color: brown;
}

a {text-decoration: none;
padding:10px ;
margin:10px ;
color: white;
font-family: sans-serif;
font-size: 20px;}

footer {
  border: 3px solid brown;
background-color: lightgreen;
font-family: sans-serif;
border-radius: 10px;
padding:10px ;
}

main{ 
font-family: sans-serif;
font-size: 20px;
text-align:center;

}
h2 { 
  color: brown; 
}

.picture {
  border:3px solid brown ;
  border-radius:10px ;
   width:400px;
   heigth:300px;
   
  
}


.text { 
  border:3px solid brown  ;
  text-align: left;
  border-radius:10px;
  padding:10px;
  background-color:aqua;
}

body {
  background-color: lightyellow;
}

.video {
  border: 3px solid brown;
  border-radius: 10px;
  width:560px;
  height:315px;
}
 
