.logo {
  width:100px;
  heigth:100px;
  
}

nav { 
border: 3px solid brown;
border-radius: 10px;
padding:25px ;
margin:25px ;
background-color:green ;
text-align: center;
font-size:35px;
} 

h1 { 
font-size:50px;
color: brown;
margin-bottom: 50px;
}

a {text-decoration: none;
padding:10px ;
margin:10px ;
color: white;

font-size: 20px;}

footer {
  border: 3px solid brown;
background-color: lightgreen;
border-radius: 10px;
padding:10px ;
font-size: 20px;

}

main{ 

font-size: 20px;
text-align:center;
padding: 0 160px;

}
h2 { 
  color: brown; 
}

.picture {
  border:3px solid brown ;
  border-radius:10px ;
   width:560px;
   heigth:315px;
   
  
}


.text { 
  border:3px solid brown  ;
  text-align: left;
  border-radius:10px;
  padding:10px;
  background-color:aqua;
}

body {
  background-color: lightyellow;
font-family: "Merriweather", serif;
}
 
.video {
  border: 3px solid brown;
  border-radius: 10px;
  width:560px;
  height:315px;
}

.unit {
  margin-bottom: 100px;

}

.beginning {
 
 border: 3px solid brown;
 border-radius: 10px;
 text-align:left;
 padding:10px ;
margin:10px ;
margin-bottom: 100px;
background-color: lightgreen; 
}
